
.introduction {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;      /* Desired width */
    margin-left: 50px;
}

.description {
    margin-left: 50px;
    margin-right: 50px;
}

.container img {
    width: 100%;
}
