
.about-me-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 202, 212);
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

.container {
    width: 75%;      /* Desired width */
    margin-left: 50px;
}

.about-me-description {
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#about-me-links {
    transform: translate(0, 50px);
}

.container img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .about-me-introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-me-links {
        transform: translate(0, 0);
    }

    .container {
        width: 80%;
        transform: translate(-25px, -10px);
    }
    .description {
        width: auto;
    }

    .footer {
        font-size: small;
        text-align: center;
    }
}