.image-slideshow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Safari */
}

#slideshow {
    width: 90%;
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the background image */
}

.next-image{
    position: absolute;
}

#first {
    left: 0;
}

#second {
    right: 0;
}
.next-image :hover{
    cursor: pointer;
}